form{
	background-color:#1F2739;
	padding: 0;
	margin-top: 35px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 35px;
}
body{
	padding: 0;
}
#container{
	padding: 0;
	margin: 0;
}
label{
	color: white;
}
.editContact{
	cursor: pointer;
	font-size: 18px;
	margin-bottom: 10px;
	color: #aaaaaa;
	background-color: #253F3F;
	width: 100%;
	padding: 10px;
}
.editContact:hover{
	color: white;
}
#editContactDetailsButton{
	margin-bottom: 20px;
	font-family: arial;
	font-weight: bold;
	clear: both;
}

@media screen and (max-width: 991px){
	#container{
		margin: 0;
	}
	input{
		border-radius: 0;
	}
	textarea{
		border-radius: 0;
	}
	button{
		width: 100%;
	}
}